<!DOCTYPE html>
<html lang="en">
<head th:replace="~{admin/commons::head}"></head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

    <!-- Navbar -->
    <div th:replace="~{admin/commons::header}"></div>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside th:replace="~{admin/commons::aside}"></aside>

    <!-- Content Wrapper. Contains page content -->
    <!-- /.content-wrapper -->
    <div class="content-wrapper">
        <div class="container">
            <h3 class="text-center mt-2">Company Details</h3>
           <table class="table table-bordered table-inverse mt-3">
                <thead class="thead-inverse">
                <thead class="thead-inverse mt-3 ">
                <tr>
                    <th>NAME</th> 
                    <th>PHONE 1</th>
                    <th>PHONE 2</th>
                    <th>EMAIL</th>
                    <th>INSTAGRAM URL</th>
                    <th>TELEGRAM URL</th>
                    <th>ADDRESS</th>
                    <th>LOCATION URL</th>
                    <th>LOGO</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item: ${list}">
                    <td th:text="${item.companyName}"></td>
                    <td th:text="${item.phone1}"></td>
                    <td th:text="${item.phone2}"></td>
                    <td th:text="${item.email}"></td>
                    <td th:text="${item.instagramUrl}"></td>
                    <td th:text="${item.telegramUrl}"></td>
                    <td th:text="${item.address}"></td>
                    <td th:text="${item.locationUrl}"></td>
                   <td>
                        <img  th:src="@{|/admin/data/companyDetails/image/${item.companyDetailsId}|}" height="50px" width="auto" alt="rasm"/>
                    </td>
                    <td>
                        <a class="btn btn-primary " th:href="@{/admin/data/companyDetails/edit(id=${item.companyDetailsId})}" role="button">Edit</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<!-- Main Footer -->
<footer th:replace="~{admin/commons::footer}"></footer>
</div>
<th:block th:replace="~{admin/commons::scripts}"></th:block>
</body>
</html>
