<!DOCTYPE html>
<html lang="en">
<head th:replace="admin/commons::head"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <div th:replace="admin/commons::header"></div>
    <aside th:replace="admin/commons::aside"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div class="container mt-4">
            <a name="" class="btn btn-primary" th:href="@{/admin/data/product-category/add}" role="button">Add category</a>
            <table class="table table-bordered table-inverse">
                <thead class="thead-inverse">
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item: ${list}">
                    <td scope="row" th:text="${item.id}"></td>
                    <td th:text="${item.name}"></td>
                    <td>
                        <a name="" id="" class="btn btn-primary" href="#" th:href="@{/admin/data/product-category/edit(id=${item.id})}" role="button">
                            <i class="fa fa-pen" aria-hidden="true"></i>
                        </a>
                        <button type="button" class="btn btn-danger" data-toggle="modal" th:data-target="${'#id'+item.id}">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </td>
                    <div class="modal fade" th:attr="id='id' + ${item.id}"
                         tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">O'chrish</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Siz rostdan ham <span class="alert-danger" th:text="${item.name}"></span>ni o'chirmoqchimisiz?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <a th:href="@{'/admin/data/product-category/delete/' + ${item.id}}" type="button" class="btn btn-danger">O'chirish</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

  <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->  

    <!-- /.content-wrapper -->
    <footer th:replace="admin/commons::footer"></footer>
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<th:block th:replace="admin/commons::scripts"></th:block>
</body>
</html>

