<!DOCTYPE html>
<html lang="en">
<head th:replace="~{admin/commons::head}"></head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

    <!-- Navbar -->
    <div th:replace="~{admin/commons::header}"></div>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside th:replace="~{admin/commons::aside}"></aside>

    <!-- Content Wrapper. Contains page content -->
    <!-- /.content-wrapper -->
    <div class="content-wrapper py-2">
        <div class="container">
            <h3 class="text-center">Orders List</h3>
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-primary dropdown-toggle"
                    data-toggle="dropdown">Filter</button>
                <div class="dropdown-menu dropdown-menu">
                    <a class="dropdown-item" th:href="@{/admin/data/orders(status=${orderStatus},filterOrders=1)}">Ascending</a>
                    <a class="dropdown-item" th:href="@{/admin/data/orders(status=${orderStatus},filterOrders=0)}">Descending</a>
                </div>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-primary dropdown-toggle"
                    data-toggle="dropdown">Sorting</button>
                <div class="dropdown-menu dropdown-menu-left">
                    <a class="dropdown-item" th:href="@{/admin/data/orders}">All</a>
                    <a class="dropdown-item" th:href="@{/admin/data/orders(status=NEW_ORDER)}">New order</a>
                    <a class="dropdown-item" th:href="@{/admin/data/orders(status=WAITING)}">Waiting</a>
                    <a class="dropdown-item" th:href="@{/admin/data/orders(status=SUCCESS)}">Success</a>  
                    <a class="dropdown-item" th:href="@{/admin/data/orders(status=CANCELED)}">Canceled</a>  
                </div>
            </div>
            <table class="table table-bordered table-inverse mt-3 table-responsive-sm">
                <thead class="thead-inverse">
                <thead class="thead-inverse mt-3 ">
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>PHONE</th>
                    <th>STATUS</th>
                    <th>MODIFIED BY</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item: ${orders}">
                    <td scope="row" th:text="${item.orderId}"></td>
                    <td ><a name="" th:href="@{/admin/data/orders/edit(id=${item.orderId})}" th:text="${item.firstName} + ' ' + ${item.lastName}"></a></td>
                    <td th:text="${item.phoneNumber}"></td>
                    <td th:text="${item.status}"></td>  
<!--                    <td th:text="${item.modifiedBy.firstName} + ' ' + ${item.modifiedBy.lastName}" ></td>-->
                    <td th:text="${item.modifiedBy != null} ? ${item.modifiedBy.firstName + ' ' + item.modifiedBy.lastName} : 'No one'" ></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Main Footer -->
    <footer th:replace="~{admin/commons::footer}"></footer>
</div>

</div>
<th:block th:replace="~{admin/commons::scripts}"></th:block>
</body>
</html>
