<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><!--     yengi kiritilgan -->
<head th:replace="~{admin/commons::head}">
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
</head>

<body class="hold-transition sidebar-mini">
<div class="wrapper">

    <!-- Navbar -->
    <div th:replace="~{admin/commons::header}"></div>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside th:replace="~{admin/commons::aside}"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper py-2">
        <div class="container">
            <h4 class="text-center my-2" th:object="${product}"
                th:text="${product.productId == null} ? 'Add product' : 'Edit product'"></h4>
            <div class="card-body">
                <form method="post"
                      enctype="multipart/form-data"
                      th:action="${(product.productId == null) ? '/admin/data/product/add' : '/admin/data/product/edit'}"
                      th:object="${product}"
                      onsubmit="return validateForm()"
                >
                    <div class="form-group" th:if="${product.productId} != null">
                        <label for="id">ID</label>
                        <input type="text" readonly th:field="*{productId}" name="id" id="id" class="form-control"
                               placeholder="ID ..." aria-describedby="id">

                    </div>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" th:field="*{name}" name="name" id="name" required
                               class="form-control"
                               placeholder="Enter name" aria-describedby="name">
                    </div>

                    <div class="form-group">
                        <label for="category">Category</label>
                        <select id="category" th:field="*{category}" class="form-control" required>
                            <option value="" selected>Select Category</option>
                            <option th:each="item: ${categories}"
                                    th:if="${item.isActive}"
                                    th:value="${item.categoryId}"
                                    th:text="${item.getCategoryName()} "></option>
                        </select>
                    </div>


                    <div class="form-group">
                        <label for="price">Price</label>
                        <input type="number" min="0" th:field="*{price}" name="price" id="price" required
                               class="form-control"
                               placeholder="Enter price" aria-describedby="name">
                    </div>


                    <div class="form-group">
                        <label for="file">Image</label>
                        <input type="file" name="file" id="file" required
                               class="form-control"
                               placeholder="Image ..." aria-describedby="file">
                    </div>

                    <div class="form-group" th:if="${product.productId == null}">
                        <label for="quantity">Initial quantity</label>
                        <input th:field="*{quantity}" min="0" type="number" name="quantity" id="quantity" required
                               class="form-control"
                               placeholder="Enter initial quantity" aria-describedby="number">
                    </div>

                    <div class="form-group" th:if="${product.productId != null}">
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="addQuantity">Add quantity</label>

                                <input type="number" min="0" th:field="*{addQuantity}" name="addQuantity"
                                       id="addQuantity"
                                       class="form-control"
                                       placeholder="Add quantity" aria-describedby="name">
                            </div>
                            <div class="col-sm-6">
                                <label for="removeQuantity">Remove quantity</label>

                                <input type="number" min="0" th:field="*{removeQuantity}"
                                       name="removeQuantity" id="removeQuantity"
                                       class="form-control"
                                       placeholder="Remove quantity" aria-describedby="name">
                            </div>
                        </div>
                        <input type="hidden" id="currentQuantity" th:field="*{quantity}" />
                    </div>

                    <div class="form-group" data-style="btn-primary" data-width="fit"
                         th:if="${product.productId} != null">
                        <label for="name">Status</label>

                        <select th:field="*{isActive}" class="form-control"
                                aria-label="Default select example">
                            <option th:value="${product.isActive}" selected
                                    th:text="${product.isActive} ? ACTIVE : PASSIVE"></option>
                            <option th:value="${!product.isActive}"
                                    th:text="${product.isActive} ? PASSIVE  : ACTIVE"></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea id="description" required th:field="*{description}"></textarea>

                        <div class="form-group" data-style="btn-primary" data-width="fit"
                             th:if="${product.productId} != null">
                        </div>
                    </div>


                    <a class="btn btn-secondary" th:href="@{/admin/data/product}" role="button">Go
                        back</a>
                    <button type="submit" class="btn btn-success">Save</button>
                </form>
            </div>
        </div>
    </div>
    <footer th:replace="~{admin/commons::footer}"></footer>
</div>
<!-- Main Footer -->
</div>


<th:block th:replace="~{admin/commons::scripts}"></th:block>

<script>
    $(document).ready(function () {
        $('#description').summernote();
    });

    let addQuantityInput = document.getElementById("addQuantity");
    let removeQuantityInput = document.getElementById("removeQuantity");

    addQuantityInput.value = "0";
    removeQuantityInput.value = "0";

        toastr.options = {
      "closeButton": false,
      "debug": false,
      "newestOnTop": false,
      "progressBar": false,
      "positionClass": "toast-top-right",
      "preventDuplicates": false,
      "onclick": null,
      "showDuration": "300",
      "hideDuration": "1000",
      "timeOut": "5000",
      "extendedTimeOut": "1000",
      "showEasing": "swing",
      "hideEasing": "linear",
      "showMethod": "fadeIn",
      "hideMethod": "fadeOut"
    }
    function validateForm() {
        var addQuantity = parseInt(document.getElementById("addQuantity").value);
        var removeQuantity = parseInt(document.getElementById("removeQuantity").value);
        var currentQuantity = parseInt(document.getElementById("currentQuantity").value);
        if (removeQuantity > currentQuantity + addQuantity) {
           toastr.error(`Error! You want to delete ${removeQuantity} products, but there are ${currentQuantity} products in stock`)
           return false;
        }
        return true;
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
</body>
</html>