<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/commons::head}"></head>

<body class="hold-transition sidebar-mini">
<div class="wrapper">

    <!-- Navbar -->
    <div th:replace="~{admin/commons::header}"></div>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside th:replace="~{admin/commons::aside}"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div class="container py-2">
            <h3 class="text-center my-2">Add Seller</h3>
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Add new seller</h4>
                </div>

            <div class="card-body">
                <form method="post"
                      enctype="multipart/form-data"
                      th:action="${(seller.userId == null) ? '/admin/data/seller/add' : '/admin/data/seller/edit'}"
                      th:object="${seller}">
                    <div class="form-group" th:if="${seller.userId} != null">
                        <label for="id">ID</label>
                        <input type="text" readonly th:field="*{userId}" name="id" id="id" class="form-control"
                               placeholder="ID ..." aria-describedby="id">

                    </div>
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" th:field="*{firstName}" name="firstName" id="firstName" required
                               class="form-control"
                               placeholder="Enter First Name" aria-describedby="firstName">
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" th:field="*{lastName}" name="lastName" id="lastName" required
                               class="form-control"
                               placeholder="Enter Last Name" aria-describedby="lastName">
                    </div>
                    <div class="form-group">
                        <label for="username">Login</label>
                        <input type="text" th:field="*{username}" name="username" id="username" required
                               class="form-control"
                               placeholder="Enter Login" aria-describedby="username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" th:field="*{password}" name="password" id="password" required
                               class="form-control"
                               placeholder="Enter Password" aria-describedby="password">
                    </div>
                    <div class="form-group">
                        <label for="role">Role</label>
                        <select id="role" th:field="*{role}" class="form-control" required>
                            <option value="" disabled selected> Role </option>
                            <option th:value="${ROLE_SELLER}">Seller</option>
                            <option th:value="${ROLE_MODERATOR}">Moderator</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="isActive">Status</label>
                        <select id="isActive" th:field="*{isActive}" class="form-control" required>
                            <option th:value="true">Active</option>
                            <option th:value="false">Passive</option>
                        </select>
                    </div>
                    <!-- Другие поля для данных о продавце -->

                    <a class="btn btn-secondary" th:href="@{/admin/data/seller}" role="button">Go back</a>
                    <button type="submit" class="btn btn-success">Save</button>
                </form>
            </div>
        </div>
    </div>

</div>
    <footer th:replace="~{admin/commons::footer}"></footer>
</div>

<th:block th:replace="~{admin/commons::scripts}"></th:block>
</body>
</html>
